
body {
    color: #999999 !important;
    padding-top: 0px;
}
h4.maxim {
    color: #5a2c6e !important;
    font-weight: lighter;
}
h2 span {
    color:#1ABC9C !important;
    margin-right: 0.8em;
}
input:hover, input:focus, input.focus {
    border-color: #77488A !important;
}
a {
    color: #77488A !important;
}
a:hover {
    color: #542B65 !important;
}
.top-header {
    background-color: #77488A;
}
.btn.btn-primary {
    background-color: #5A2C6E;
}
.btn.btn-primary:hover {
    background-color: #663878;
}
.btn.btn-primary.btn-white {
    background-color: #ffffff;
}
.btn.btn-primary.btn-white:hover {
    background-color: #ffffff;
}
.btn-group a{
    color: #ffffff !important;
}
.footer-banner {
    background-color: #77488A !important;
}
.footer-banner a{
    color: #FFFFFF !important;
}
.social-links {
    color: #FFFFFF !important;
}
.social-links a{
    margin-left: 0.8em;
}
.social-section {
    background-color: #EDEFF1 !important;
    margin: 10px 0px;
    padding: 20px 0px;
}
.next-event {
    padding: 20px 0px;
    background-color: none;
    color: #FFFFFF !important;
}
.big-img {
    max-width: 100px;
    max-height: 100px;
    vertical-align: baseline;
}

.btn-hackhours {
    background-color: #77488A;
}
.btn-hackhours:hover, .btn-hackhours:focus {
    background-color: #542B65;
}

.section-title {
    border-bottom: 8px solid #77488A;
    padding: 20px 0px;
    margin-bottom: 40px !important;
}

.svg-color {
    fill: #999999;
}

.social-buttons {
    display: inline-block;
    list-style: none;
    text-decoration: none;
}

::selection {
    background: #77488A; /* Safari */
    color: #FFFFFF !important;
}
::-moz-selection {
    background: #77488A; /* Firefox */
    color: #FFFFFF !important;
}

ul.photo-thumbs > li {
    list-style: none;
    display: inline-block;
    margin: 5px;
}

div.hackhours-logo {
    margin: 0 auto;
    height: 68px;
    max-width: 437px;
    background-size: 437px 68px;
    background-repeat: no-repeat;
    background-image: url('../images/hackhours/logo_white@medium.png');
    background-position: center;
}

div.laphoto {
    margin: 0 auto;
    height: 389px;
    max-width: 341px;
    background-size: 341px 389px;
    background-repeat: no-repeat;
    background-image: url('../images/hackhours/laphoto@medium.png');
    background-position: center;
}

@media all and (max-width: 770px) {
    body {
        padding: 0;
    }
    div.container {
        padding: 0px 20px;
    }
    div.container > div.row > div.span3 {
        margin-bottom: 10px;
    }
    div.photos {
        display: none;
    }
    div.footer-banner {
        margin: 40px 0px 0px 0px;
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    div.laphoto {
        background-image: url('../images/hackhours/laphoto@medium@2x.png');
    }
    div.hackhours-logo {
        background-image: url('../images/hackhours/logo_white@medium@2x.png');
    }
}

.panel
{
    text-align: center;
}
.panel:hover { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35); }
.panel-body
{
    padding: 0px;
    text-align: center;
}

.the-price
{
    background-color: rgba(220,220,220,.17);
    box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #fff;
    padding: 20px;
    margin: 0;
}

.the-price h1
{
    line-height: 1em;
    padding: 0;
    margin: 0;
}

.subscript
{
    font-size: 25px;
}

/* CSS-only ribbon styles    */
.cnrflash
{
    /*Position correctly within container*/
    position: absolute;
    top: -9px;
    right: 4px;
    z-index: 1; /*Set overflow to hidden, to mask inner square*/
    overflow: hidden; /*Set size and add subtle rounding  		to soften edges*/
    width: 100px;
    height: 100px;
    border-radius: 3px 5px 3px 0;
}
.cnrflash-inner
{
    /*Set position, make larger then 			container and rotate 45 degrees*/
    position: absolute;
    bottom: 0;
    right: 0;
    width: 145px;
    height: 145px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -o-transform: rotate(45deg); /* Opera */
    -moz-transform: rotate(45deg); /* Firefox */
    -webkit-transform: rotate(45deg); /* Safari and Chrome */
    -webkit-transform-origin: 100% 100%; /*Purely decorative effects to add texture and stuff*/ /* Safari and Chrome */
    -ms-transform-origin: 100% 100%;  /* IE 9 */
    -o-transform-origin: 100% 100%; /* Opera */
    -moz-transform-origin: 100% 100%; /* Firefox */
    background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.1) 50%), linear-gradient(0deg, transparent 0%, rgba(1,1,1,.2) 50%);
    background-size: 4px,auto, auto,auto;
    background-color: #aa0101;
    box-shadow: 0 3px 3px 0 rgba(1,1,1,.5), 0 1px 0 0 rgba(1,1,1,.5), inset 0 -1px 8px 0 rgba(255,255,255,.3), inset 0 -1px 0 0 rgba(255,255,255,.2);
}
.cnrflash-inner:before, .cnrflash-inner:after
{
    /*Use the border triangle trick to make  				it look like the ribbon wraps round it's 				container*/
    content: " ";
    display: block;
    position: absolute;
    bottom: -16px;
    width: 0;
    height: 0;
    border: 8px solid #800000;
}
.cnrflash-inner:before
{
    left: 1px;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.cnrflash-inner:after
{
    right: 0;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.cnrflash-label
{
    /*Make the label look nice*/
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    padding-bottom: 5px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(1,1,1,.8);
    font-size: 0.95em;
    font-weight: bold;
    text-align: center;
}
